.App {
  text-align: center;
  display:flex;
  flex-direction: column;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */
.LogoIMG {
  width: 200px;
  height: 300px;
}
.LOGO {
  width: 1800px;
  height: 300px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.footer-section {
  background-color: #E1D4BB;
  height: 7rem;
  bottom: 0 ;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc 10px;
  color: white;
  margin-bottom:50px;

  /* padding: auto; */
}


.App-link {
  color: #61dafb;

  /* HTML page logo */


}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


 /* START CSS for SeasonInfo Component */
.SeasonInfo{
  display:flex;
  flex-direction:column;
  justify-content: center;
  position:relative;
  /* background-color:black; */
  width:50%;
  height:900px;
  background-size: cover;
  font-size:1.7rem;
  margin-right:auto;
  margin-left:auto;
  margin-bottom:20px;
  border-radius:15px;
  
}
.SeasonInfo ul li{
  list-style-type: none;
}
.SI_imgBox{
  width:100%;
  height:100%;
}
.SeasonInfo img{
  width:100%;
  height:100%;
  object-fit:contain;
  position:relative;
}
.seasonContent{
  position:absolute;
  top:0;
  left:0;
  /* background-color: rgba(0,0,0,0.5); */
  width:100%;
  height:60%;
  color:#124928;
  font-weight: 600;
  line-height: 33px;
  /* overflow:scroll; */
}
.seasonContent h1{
  margin-top:30px;
  margin-bottom:20px;
}
.seasonContent a{
  color:#124928;
  font-size:2.2rem;
  width:100%;
  height:100%;
}
.veggieList{
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Adjust the number of columns as needed */
  grid-gap: 10px; 
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.veggieList li {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #41BFB7; */
  padding: 10px;
  border-radius: 50%;
  
}

.seasonContent .exit i{
 font-size:40px;
 color:black;
 background-color:white;
 
}



 /* END CSS for SeasonInfo Component  */

 /* START CSS for GrowInfo Component */

 .fullScreen{
  width:100%;
  height:100%;
  background-color:white;
  margin-bottom:20px;
 }
 .GrowInfoCard{
  position:relative;
  width:40%;
  height:auto;
  border:black solid 5px;
  display:flex;
  flex-direction:column;
  margin-right:auto;
  margin-left:auto;
  padding:10px;

  

 }

 .growImgBox{
  width:95%;
  height: auto;
  border:black solid 5px;
  margin-right:auto;
  margin-left:auto;
  margin-top:15px;
  border-radius:15px;
  

 }

 .growImg{
  width:100%;
  height:100%;
  object-fit:cover;
 }

 .exit{
  width:auto;
  height:auto;
  position:absolute;
  right:10px;
  bottom:20px;
  /* background-color:black; */
  border-radius:10px;
 }

 .exit i{
  font-size:40px;
  color:rgb(24, 22, 22);
  
 }
 /* END CSS for GrowInfo Component */

/* Forum style start here */

.forum-section {
  display: block;
  align-items: center;
  margin: 15rem;
  padding: 2rem;
  justify-content: space-around;
  align-items: center;
  border: 1px solid white;

}

.comment-form {
  margin: 1rem;
  padding: 2rem;
}

.article-container {
  margin: 2rem;
  padding: 5rem;
}

.carousel-status {
  margin-right: 4rem;
}

.control-arrow {
 background-color: rgba(22, 12, 83, 0.1);
 color: black;

}

/* Forum style ends here */


/* General Carousel starts here */

.MainCar {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 100px;
  margin-left: -6rem;

}


.carousel1 {
  width: 100%;
  height: 275px;
  position: relative;
}
.loginSignupBtnBox{
 margin-top:200px;;
  width:100%;
  position:relative;

 
}
.Gencard {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 200px;
  height: 250px;
  object-fit: cover;
  cursor: pointer;
  z-index: 0;
  opacity: 0;
  transition: 500ms;
  border-radius: 10%;
}

.Gencard--active {
  opacity: 1;
  transform: scale(1);
  z-index: 99;
  border-radius: 10%;
  
}

.Gencard--left {
  transform: translateX(-125%) scale(0.8);
  transition: 500ms;
  opacity: 0.3;
  width: 200px;
  height: 250px;
  border-radius: 10%;
}

.Gencard--right {
  transform: translateX(125%) scale(0.8);
  transition: 500ms;
  opacity: 0.3;
  width: 200px;
  height: 250px;
  border-radius: 10%;
}
.imgCards {
  border-radius: 10%;
  width: 200px;
  height: 200px;
}

.image-container {
  position: relative;
  display: inline-block;
}


.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* General Carousel ends here */

/* Login starts here */
.loginContainer{
  background-color:white;
  width:100%;
  height:100%;
  position:absolute;
  left:0;
  top:0;
  z-index:1001;
}

/* Login ends here */

/* Signup  starts here */
.signupContainer{
  background-color:white;
  width:100%;
  height:100%;
  position:absolute;
  
  top:400px;
  z-index:1001;


}
.signupForm{
margin-top:10%;
}
/* Signup ends here */

/* Login Container ends here */

/* Mission start here */

.mission {
  display: block;
  margin: 5rem;
/* Mission ends here */
}


/* Community Landing starts here  */
.communityLanding{
  width:100%;
  height:100%;
  padding-top:20%;
  
  background-color:white;
  position:absolute;
  left:0;
  top:0;
}
/* Community Landing ends here */

/*About section (NAVBAR) starts here*/

.AboutCommunity {
  display: block;
  padding: 0;
  margin-left: 40rem;
  margin-right: 40rem;
  
}
.AbFoodIns {
  margin-bottom: 30px;
  margin-top: 30px;
}
.AbFoodDsrt {
  margin-bottom: 30px;
  margin-top: 30px;
}
.ABBenGarden {
  margin-bottom: 30px;
  margin-top: 30px;
}
/*About section (NAVBAR) ends here*/

