.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


 /* START CSS for SeasonInfo Component */
.seasonSide ul li{
  list-style-type: none;
}


 /* END CSS for SeasonInfo Component  */

 /* START CSS for GrowInfo Component */

 .fullScreen{
  width:100%;
  height:100%;
  background-color:white;
 }
 .GrowInfoCard{
  width:40%;
  height:auto;
  border:black solid 5px;
  display:flex;
  flex-direction:column;
  margin-right:auto;
  margin-left:auto;
  padding:10px;

  

 }

 .growImgBox{
  width:95%;
  height: auto;
  border:black solid 5px;
  margin-right:auto;
  margin-left:auto;
  margin-top:15px;
  border-radius:15px;
  

 }

 .growImg{
  width:100%;
  height:100%;
  object-fit:cover;
 }
 /* END CSS for GrowInfo Component */

/* Forum style start here */

.forum-section {
  display: block;
  margin: 5rem;
  padding: 2rem;
  justify-content: space-around;
  align-items: center;
  border: 1px solid white;

}

.images-article {
  width: 350px;
  height: auto;
}

.comment-form {
  margin: 1rem;
  padding: 2rem;
}



/* Forum style ends here */


/* General Carousel starts here */

.MainCar {
  width: 100%;
  height: 100%;

}

.carousel1 {
  width: 100%;
  height: 100%;
  position: relative;
}

.Gencard {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 200px;
  height: 250px;
  object-fit: cover;
  cursor: pointer;
  z-index: 0;
  opacity: 0;
  transition: 500ms;
  border-radius: 10%;
}

.Gencard--active {
  opacity: 1;
  transform: scale(1);
  z-index: 99;
  border-radius: 10%;
  
}

.Gencard--left {
  transform: translateX(-125%) scale(0.8);
  transition: 500ms;
  opacity: 0.3;
  width: 200px;
  height: 250px;
  border-radius: 10%;
}

.Gencard--right {
  transform: translateX(125%) scale(0.8);
  transition: 500ms;
  opacity: 0.3;
  width: 200px;
  height: 250px;
  border-radius: 10%;
}
.imgCards {
  border-radius: 10%;
  width: 200px;
  height: 200px;
}

/* General Carousel ends here */