.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


 /* START CSS for SeasonPoster Component */
.seasonPoster{
    position:relative;
    width:40%;
    height:auto;
    /* border-radius: 50px; */
    overflow: hidden;
    display:flex;
    align-items: center;
    justify-content:center;
}

.seasonImgBox{
    position:relative;
    display:flex;
    align-items:center;
    justify-content:center;
    height:100%;
    width:100%;
    /* padding:20px; */

}

.seasonImg{
  width:100%;
  /* opacity:.5s; */
  height:auto;
  /* transition:.5s; */
}

.seasonPoster h1{
  position:absolute; 
  bottom:0;
  left:0;  
  width:100%;
  height:100%;
  /* opacity:0;  */
  background:rgba(0,0,0,0.3);
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  /* margin:20px;  */
  color:#fff;
  /* transition:opacity 0.9s; */
  text-align:center;
  font-size: 3.5rem;
  
  
}

 /* END CSS for SeasonPoster Component  */

/* Forum style start here */

.forum-section {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin: 5rem;
  justify-content: space-around;
  align-items: center;
  border: 1px solid white;

}


/* Forum style ends here */

